:root {
    --primario: #ffffff;
    --secundario: #852b9c;
    --hover: #0d97b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Krub', sans-serif;
}

html {
    margin: auto;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin-left: 8rem;
    margin-top: 8rem;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 2rem;
}

header {
    width: 100%;
    height: 5rem;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1rem);
}

.icon__menu i {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

.icon__menu h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateX(12rem);
}

.menu__side {
    width: 8rem;
    height: 100%;
    background: var(--secundario);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--primario);
    font-size: 1.8rem;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 2rem solid var(--secundario);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page {
    padding: 1rem 3rem;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.name__page img {
    width: 3rem;
    margin-right: 2rem;
}

.options__menu {
    padding: 2.5rem 3rem;
    position: absolute;
    top: 10rem;
}

.options__menu a {
    color: var(--primario);
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
}

.options__menu a:hover {
    color: var(--hover);
    text-transform: uppercase;
}

.options__menu .option {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: .3rem;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -3rem;
}


/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 25rem;
}

.menu__side_move {
    width: 25rem;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}

/*Estilos para la tabla*/

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-title {
    font-size: 24px; /* Tamaño de letra para el título del modal */
}

.modal-body {
    font-size: 18px; /* Tamaño de letra para el contenido del modal */
}

.btn-modal {
    margin-right: 10px;
    font-size: 12px; /* Tamaño de letra para los botones del modal */
}
.input-grande,
select {
  font-size: 14px;
  padding: 8px;
}

.float-end
{
    font-size: 12px;
}
.btn-sm
{
    font-size: 12px;
}
.btn-primary
{
    left: 300px;
}
